.counters {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 120px auto;
    max-width: 1400px;
    text-align: center;
    position: relative;
    @include mq("phone", "max") {
        grid-template-rows: repeat(4, 1fr);
    }

    .counters--title {
        font-size: 36px;
        font-weight: bold;
        grid-column-end: 4;
        grid-column-start: 1;
    }
    .counters--card {
        font-size: 22px;
        .counters--card--numbers {
            color: $muncak-counters-numbers;
            font-size: 36px;
            font-weight: bold;
            padding: 35px;
        }
        @include mq("phone", "max") {
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }
    #counter--bubbles--left {
        @include bubble(120px, #f59399);
        top: 300px;
        left: -200px;
    }
}
