.features {
    align-content: center;
    align-items: center;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 100px auto 0px auto;
    max-width: 1400px;
    text-align: left;
    @include mq("phone", "max") {
        grid-template-columns: none;
        grid-gap: 155px;
    }

    &::after {
        background-image: url("../static/images/feature_shape.svg");
        background-position: left bottom;
        width: 100px;
        height: 1700px;
        content: "";
        left: calc(100% - 100px);
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 500px;
        z-index: -1;
        @include mq("desktop-wide", "max") {
            height: 1400px;
            width: 130px;
            left: calc(100% - 130px);
        }
        @include mq("desktop", "max") {
            width: 100px;
            left: calc(100% - 100px);
        }
        @include mq("tablet", "max") {
            height: 1550px;
            width: 100px;
            left: calc(100% - 100px);
        }
    }

    .features--title {
        font-size: 36px;
        font-weight: bold;
        grid-column-end: 3;
        grid-column-start: 1;
        justify-self: center;
        text-align: center;
        width: 700px;
        @include mq("phone", "max") {
            grid-column: auto;
            width: auto;
        }
    }

    #features--advocate {
        grid-area: 2/1;
    }

    #features--volunteer {
        grid-area: 3/2;
    }

    #features--explore {
        grid-area: 4/1;
    }

    .features--learnMore {
        align-self: center;
        background-color: $muncak-primary-button;
        border-radius: 40px;
        box-shadow: 0 22px 24px 1px rgba(17, 83, 165, 0.21);
        color: $muncak-white;
        font-size: 20px;
        font-weight: 600;
        grid-area: 4/2;
        height: 80px;
        justify-self: center;
        line-height: 80px;
        text-align: center;
        text-decoration: none;
        width: 240px;
        @include mq("phone", "max") {
            grid-area: initial !important;
        }
    }

    .features--card {
        border-radius: 20px;
        box-shadow: 0 27px 43px rgba(32, 94, 171, 0.1);
        font-size: 18px;
        justify-self: center;
        max-width: 550px;
        padding: 70px 50px;
        position: relative;

        .features--card--image {
            position: absolute;
            bottom: 90%;
            left: calc(50% - 75px);
        }

        .features--card--title {
            font-size: 24px;
            font-weight: bold;
        }

        @include mq("phone", "max") {
            grid-area: initial !important;
        }
    }
}
