.features {
    align-content: center;
    align-items: center;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 100px auto 0px auto;
    max-width: 1400px;
    text-align: left;

    .features--title {
        font-size: 36px;
        font-weight: bold;
        grid-column-end: 3;
        grid-column-start: 1;
        justify-self: center;
        text-align: center;
        width: 700px;
    }

    #features--advocate {
        grid-area: 2/1;
    }

    #features--volunteer {
        grid-area: 3/2;
    }

    #features--explore {
        grid-area: 4/1;
    }

    .features--learnMore {
        align-self: center;
        background-color: $muncak-primary-button;
        border-radius: 40px;
        box-shadow: 0 22px 24px 1px rgba(17, 83, 165, 0.21);
        color: $muncak-white;
        font-size: 20px;
        font-weight: 600;
        grid-area: 4/2;
        height: 80px;
        justify-self: center;
        line-height: 80px;
        text-align: center;
        text-decoration: none;
        width: 240px;
    }

    .features--card {
        border-radius: 20px;
        justify-self: center;
        box-shadow: 0 27px 43px rgba(32, 94, 171, 0.1);
        font-size: 18px;
        padding: 70px 50px;
        width: 550px;
        .features--card--title {
            font-size: 24px;
            font-weight: bold;
        }
    }
}
