.footer {
    .footer--nav {
        color: $muncak-footer-text;
        display: grid;
        font-size: 16px;
        grid-auto-columns: auto;
        grid-gap: 1em;
        grid-template-columns: repeat(5, 1fr);
        padding: 0 250px;
        position: relative;
        @include mq("desktop", "max") {
            padding: 0 100px;
        }
        @include mq("tablet", "max") {
            grid-template-columns: 200px repeat(4, 1fr);
            padding: 0 30px;
        }
        @include mq("phone", "max") {
            grid-gap: 2em;
            grid-template-columns: none;
            grid-template-rows: repeat(5, 1fr);
            padding: 0 30px;
        }

        &::after {
            background: url("../static/images/globe.svg") top center no-repeat;
            bottom: -150px;
            content: "";
            height: 1100px;
            left: 0;
            position: absolute;
            right: 0;
            width: 100%;
            z-index: -1;
            @include mq("phone", "max") {
                height: 1300px;
            }
        }

        .footer--nav--collumn {
            display: grid;
            grid-auto-rows: auto;
            grid-gap: 25px;
            @include mq("phone", "max") {
                grid-gap: 0;
            }

            br {
                content: " ";
                display: block;
                margin: 10px 0px;
            }

            a {
                color: $muncak-footer-text;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }

            .footer--nav--collumn--title {
                font-size: 18px;
                margin-bottom: 25px;
                text-transform: uppercase;
                @include mq("phone", "max") {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .footer--social {
        display: grid;
        font-size: 16px;
        grid-auto-columns: auto;
        grid-template-columns: repeat(3, 60px);
        padding: 50px 250px;
        @include mq("desktop", "max") {
            padding: 50px 100px;
        }
        @include mq("tablet", "max") {
            padding: 50px 30px;
        }
    }
}
