.hero {
    text-align: left;
    height: 500px;

    &::after {
        background: url("../static/images/hero_shape.svg") no-repeat left;
        bottom: -760px;
        content: "";
        left: -190px;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        @include mq("desktop-wide", "max") {
            display: none;
        }
    }

    .hero--wrapper {
        display: grid;
        float: right;
        grid-auto-rows: auto;
        grid-gap: 1em;
        grid-template-rows: repeat(3, 1fr);
        position: absolute;
        right: calc(50% + 50px);
        width: 410px;
        @include mq("tablet", "max") {
            color: $muncak-white;
            left: 5%;
            width: 94%;
            max-width: 410px;
        }
        @include mq("phone", "max") {
            float: none;
            padding: 0 20px;
            position: relative;
            right: 0;
        }
    }

    .hero--title {
        color: $muncak-hero-title;
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        @include mq("tablet", "max") {
            color: $muncak-white;
            text-shadow: 2px 2px 20px #000000;
        }
    }

    .hero--subtitle {
        color: $muncak-hero-subtitle;
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        @include mq("tablet", "max") {
            color: $muncak-white;
            text-shadow: 2px 2px 20px #000000;
        }
    }

    .hero--callToAction {
        background-color: $muncak-primary-button;
        border-radius: 40px;
        box-shadow: 0 22px 24px 1px rgba(17, 83, 165, 0.21);
        color: $muncak-white;
        font-size: 20px;
        font-weight: 600;
        height: 80px;
        line-height: 80px;
        text-align: center;
        text-decoration: none;
        width: 240px;
    }

    #hero--bubbles--left {
        @include bubble(140px, #f59399);
        top: 100px;
        left: -500px;
        z-index: -100;
    }

    #hero--bubbles--center {
        @include bubble(104px, #52c8f9);
        top: 300px;
        left: 400px;
    }

    #hero--bubbles--right {
        @include bubble(140px, #f59399);
        top: 400px;
        left: 1000px;
    }
}
